<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="Integer"></typeAlias>
        <typeAlias type="java.lang.String" alias="String"></typeAlias>
        <typeAlias type="com.example.model.vo.Worker" alias="Worker"></typeAlias>
    </typeAliases>
</configuration>